@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 90vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 350px;
  margin-left: 76px;
}

.tittle {
  margin-bottom: 20px;
}

button {
  padding: 5px 15px;
  border: none;
  background-color: #0275d8;
  border-radius: 5px;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  text-decoration: none;
  color: white;
}

.table input {
  padding: 3px 15px;
  border: solid 1px black;
  color: white;
}

.download {
  margin-top: 5px;
}

.download a {
  text-decoration: none;
  background-color: #0275d8;
  padding: 3px 15px;
  border: solid 1px black;
  color: white;
  border-radius: 2px;
}
